<%- include("partials/header"); -%>
  <h1>Hello World</h1>
  <p><%= startingContent %></p>
  <% postsContent.forEach(function(post){ %>
    <% console.log(post.title); %>
  <% }) %>
<%- include("partials/footer"); -%>
